.task-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(50, 50, 50, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.task-popup-form {
  background: #f3e7d3;
  padding: 20px 40px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 700px;
  max-width: 90%;
  position: relative;
}

.task-popup-form h2 {
  text-align: center;
  margin-bottom: 15px;
  font-family: "SF Pro Rounded", "Calibri", sans-serif;
  font-size: 24px;
  margin-top: -1px;
  color: #252b2f;
  font-weight: 700;
}

.popup-fields-row {
  display: flex;
  gap: 15px;
  width: 100%;
  flex-wrap: wrap;
}

.popup-field {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.popup-field label {
  font-size: 20px;
  color: #6096ba;
  margin-bottom: 4px;
  font-weight: 500;
}

.popup-field input,
.popup-field select,
.popup-field textarea {
  padding: 6px;
  font-size: 16px;
  border: 1px solid #252b2f;
  border-radius: 4px;
  background-color: #f5ebe0;
  color: #252b2f;
}

.popup-field textarea {
  resize: vertical;
  min-height: 60px;
}

.radio-field {
  margin-top: 10px;
}

.popup-button-row {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.popup-submit-btn {
  background: none;
  color: #6096ba;
  border: 2px solid #6096ba;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.popup-submit-btn:hover {
  background: #6096ba;
  color: #f3e7d3;
}

.popup-btn-cancel {
  background: none;
  color: #ac4750;
  border: 2px solid #ac4750;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.popup-btn-cancel:hover {
  background: #ac4750;
  color: #f3e7d3;
}
