# dependencies
node_modules/
**/node_modules/

# caches / build artifacts
**/.cache/
*.pack
frontend/node_modules/.cache/
frontend/build/
backend/build/
dist/
coverage/

# OS / editor
.DS_Store
Thumbs.db
