body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "SF Pro Rounded", Arial, sans-serif;
  background-color: #F3E7D3;
  overflow: hidden;
}

.app-container {
  display: flex;
  height: 100vh;
  overflow: auto; 
  position: relative; 
}

.main-content-area {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #F3E7D3;
}


.page-content-wrapper {
  flex-grow: 1;
  padding: 20px; 
}

.notif-icon {
  position: fixed; 
  top: 25px;
  right: 25px;
  z-index: 1000; 
  color: #252B2F; 
  cursor: pointer;
}

.profile-icon {
  position: fixed; 
  bottom: 25px;
  right: 25px;
  z-index: 1000; 
  color: #252B2F; 
  cursor: pointer;
}