body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.styled-btn {
  background-color: transparent;
  border: 2px solid #1a1a3c;
  border-radius: 8px;
  padding: 12px;
  font-size: 16px;
  font-weight: 500;
  color: #1a1a3c;
  text-align: left;
}
.styled-btn:hover {
  background-color: #ece9f6;
}

