.loginBody {
  font-family: "SF Pro Rounded", "Calibri", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* logo */
.titleLogo {
  width: 455.4px;
  height: 165px;
  display: block;
  margin: 0 auto;
  margin-top: 27px;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 33px;
}

.formCont {
  background-color: #252b2f;
  font-family: "SF Pro Rounded", "Calibri", sans-serif;
  border-radius: 10px;
  width: 500px;
  height: 600px;
  display: block;
  margin: 0 auto;
}

.formCont h1 {
  flex-shrink: 0;
  color: #f5ebe0;
  font-family: "SF Pro Rounded", "Calibri", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  padding-top: 33px;
}

.loginInputEmail {
  width: 460px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #f3e7d3;
  margin-left: 22px;
  margin-bottom: 18px;
  color: #252b2f;
  font-family: "SF Pro Rounded", "Calibri", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  padding: 12px;
}

.loginInput {
  width: 460px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #f3e7d3;
  font-family: "SF Pro Rounded", "Calibri", sans-serif;
  font-size: 16px;
  margin-left: 22px;
  color: #252b2f;
  border: none;
  padding: 12px;
}

.formCont label {
  color: #f5ebe0;
  font-family: "SF Pro Rounded", "Calibri", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 28px;
  margin-bottom: 9px;
}

.loginBtn {
  width: 255px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 3px solid #6096ba;
  background: #f3e7d3;
  color: #6096ba;
  text-align: center;
  font-family: "SF Pro Rounded", "Calibri", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: center;
}

.loginBtn:hover {
  border: 3px solid #f3e7d3;
  background: #6096ba;
  color: #f3e7d3;
}

.signupBtn {
  width: 255px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 5px;
  text-align: center;
  font-family: "SF Pro Rounded", "Calibri", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 3px solid #f3e7d3;
  background: #22336a;
  color: #f3e7d3;
  align-items: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 51px;
}

.signupBtn:hover {
  border-radius: 5px;
  border: 3px solid #22336a;
  background: #f3e7d3;
  color: #22336a;
}

.socialIconsCont {
  display: flex;
  justify-content: center;
  gap: 23px;
  margin-bottom: 33px;
  margin-top: 7px;
}

.socialIcons {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}

.forgotPass {
  color: #f5ebe0;
  text-align: right;
  font-family: "SF Pro Rounded", "Calibri", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 18px;
  margin-top: 11px;
}

.forgotPass a {
  text-decoration: none;
  color: #f5ebe0;
}

.forgotPass a:hover {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  color: #f5ebe0;
}

.forgotPass a:visited {
  color: #f5ebe0 !important;
}

.continuePara {
  color: #f5ebe0;
  text-align: center;
  font-family: "SF Pro Rounded", "Calibri", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 11px;
  margin-bottom: 7px;
}

.accountPara {
  color: #f5ebe0;
  text-align: center;
  font-family: "SF Pro Rounded", "Calibri", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 11px;
}
