/* Body and layout */
#body {
  background: #f3e7d3;
  font-family: "SF Pro Rounded", "Calibri", sans-serif;
  color: #252b2f;
  margin-left: 47px;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: 400;
}

/* Account info container */
#account-info {
  width: 855px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 2px solid #6096ba;
  background: #f5ebe0;
}

#account-info h2 {
  margin: 15px 0px 0px 25px;
  color: #252b2f;
  font-family: "SF Pro Rounded", "Calibri", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#account-info hr {
  height: 1px;
  background: #252b2f;
  border: none;
  width: 805px;
}

.info-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

/* Form inputs */
#form-inputs {
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
}

#form-inputs label {
  font-size: 13px;
  margin: 0px 25px;
  color: #252b2f;
  font-family: "SF Pro Rounded", "Calibri", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#form-inputs input,
.emailDisplay,
.displayName {
  height: 35px;
  border-radius: 5px;
  border: 2px solid #6096ba;
  background: #f3e7d3;
  padding: 0 10px;
  font-size: 14px;
  margin-bottom: 15px;
  margin-left: 25px;
}

.resetBtn {
  height: 35px;
  border-radius: 5px;
  border: 2px solid #6096ba;
  background: #f3e7d3;
  padding: 0 10px;
  font-size: 14px;
  margin-bottom: 15px;
  margin-left: 25px;
  font-weight: 700;
  color: #6096ba;
  cursor: pointer;
}

.resetBtn:hover {
  color: #f3e7d3;
  border: 2px solid #f3e7d3;
  background: #6096ba;
}

.desc-inline-icon {
  display: inline-flex;
  margin-left: 6px;
  vertical-align: text-bottom;
  opacity: 0;
  transition: opacity 0.2s;
  color: #252b2f;
  font-size: 24px;
}

.displayName {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 25px;
  padding-right: 10px;
}
.displayName:hover .desc-inline-icon {
  opacity: 1;
}

/* Linked accounts section */
#linked-accounts {
  flex: 1 1 35%;
}

#linked-accounts h3 {
  position: relative;
  width: 140px;
  color: #252b2f;
  font-family: "SF Pro Rounded", "Calibri", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  left: 60px;
}

.account-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

#linked-accounts img {
  width: 30px;
  height: 30px;
}

/* Button styles */
.connected-btn {
  background-color: #51905a;
  color: #f3e7d3;
  padding: 6px 16px;
  border-radius: 10px;
  font-size: 16px;
  border: 3px solid #f3e7d3;
  width: 150px;
  height: 35px;
  text-align: center;
  margin: 10px !important;
  transition: all 0.25s ease;
}

.connected-btn:hover {
  background-color: #42794a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-1px);
}

.connect-btn {
  background: transparent;
  color: #51905a;
  padding: 6px 16px;
  border-radius: 10px;
  font-size: 16px;
  border: 3px solid #51905a;
  width: 147px;
  height: 32px;
  text-align: center;
  margin: 10px !important;
  transition: all 0.25s ease;
}

.connect-btn:hover {
  cursor: pointer;
  background-color: #51905a;
  color: #f3e7d3;
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* Responsive design */
@media (max-width: 768px) {
  .info-container {
    flex-direction: column;
  }

  #form-inputs,
  #linked-accounts {
    width: 100%;
  }
}
